<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
   
    <title>MercadoLiebre</title>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

    <link rel="stylesheet"href="/CSS/styles.css">

    
</head>

<body>
    <header>

        <div class="navbar">
            

        <img src="images/logo-mercado-liebre.svg" alt="logo de mercado liebre">

        <div class="search-bar">
            <input type="search" placeholder="Buscar productos, marcas"
            <div class="search-container">
               <button><i class="fas fa-search"></i></button> 
            </div>
        </div>
        
    
        <p class="description-service">
         <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
          tarjeta de crédito
        </p>
        
         
                
                    <p>Ofertas</p>
                    <p>Tiendas oficiales</p>
                    <p>Vender</p>
                    <p>Ayuda</p>
                
              
                    <p>Crea tu cuenta</p>
                    <p>Ingresa</p>
                    <p>Mis compras</p>
       
        
        </div>
      
       
            

    <div class="login-bar">
        
      </div>
      
     

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>

    </header>
    
    <div class="main">
        <section>
            <h3>Basado en tu última visita</h3>

                       

            <article>
                <div class="contenedor-imagen">
                    <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
                  <div class="precio">$6.770</div>
                  <div class="descuento">40% OFF</div>
                  <p class="descripcion">Cafetera Moulinex</p>
                </div>
              </article>

         <img src="images/img-macbook-pro.jpg" alt="imagen de MacBook">
         <p>$230.000</p>
         <p>20% off</p>
         <p>MacBook Pro 2019</p>


         <img src="images/img-samsung-galaxy.jpg" alt="imagen de Samsung Galaxy ">
         <p>$70.500</p>
         <p>10% off</p>
         <p>Samsung Galaxy S10</p>
       
         <img src="images/img-tv-samsung-smart.jpg" alt="imagen de SmartTv ">
         <p>$23.200</p>
         <p> 5% off</p>
         <p>SmartTv Samsung 43"</p>
       

        </section>

        <section>
            <h3>Sección de Ofertas</h3>

            <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
            <p>$6.770</p> 
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>

            <img src="images/img-macbook-pro.jpg" alt="imagen de MacBook">
         <p>$230.000</p>
         <p>20% off</p>
         <p>MacBook Pro 2019</p>
         <img src="images/img-samsung-galaxy.jpg" alt="imagen de Samsung Galaxy ">
         <p>$70.500</p>
         <p>10% off</p>
         <p>Samsung Galaxy S10</p>
       
         <img src="images/img-tv-samsung-smart.jpg" alt="imagen de SmartTv ">
         <p>$23.200</p>
         <p> 5% off</p>
         <p>SmartTv Samsung 43"</p>
       


        </section>
    </main>
    </div>

  
    <div class="footer">
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

         <h4>Envío gratis desde $ 2.500</h4>
         <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

      <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

    </footer>
    </div>

</body>
</html>


