<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale-1.0">
   
    <title>MercadoLiebre</title>

     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
rel="stylesheet"/>

    <link rel="stylesheet" href="/CSS/styles.css">

    
</head>

<body>
    <header>

        <div class="navbar">
            

        <img src="images/logo-mercado-liebre.svg" alt="logo de mercado liebre">

        <form action="/buscar" method="get">
            <label for="search"></label>
            <input type="text" id="search" name="q" placeholder="Buscar productos, marcas">
           
          </form>
          
<button>
    <i class="fas fa-search"></i>
</button>
            
       
            </div>
       
        
    
        <p class="description-service">
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin
          tarjeta de crédito
        </p>
        
         
        <div class="login-bar">
        
            <form>
                <label for="search">Ofertas</label>
              </form>

              <form>
                <label for="search">Tiendas oficiales</label>
              </form>

              <form>
                <label for="search">Vender</label>
              </form>

              <form>
                <label for="search">Ayuda</label>
              </form>
            

            
                   
                
            <form>
                <label for="search">Crea tu cuenta</label><i class="fas fa-money-check"></i>
                
              </form>
            
              <form>
                <label for="search">Ingresa</label><i class="fas fa-sign-in-alt"></i>
              </form>

                  
              <form>
                <label for="search">Mis compras</label> <i class="fas fa-shopping-basket"></i>
              </form>    

                    
                   
       
                </div>
                 
        </div>
           
      
     

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>

        


    </header>
    
    <div class=main>
        <section>
            <h3>Basado en tu última visita</h3>

            <div class="product-container">
              <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
              <div class="text-overlay"><i class="fas fa-truck"></i>
                <span class="price">$6.770</span>
                <span class="discount">40% OFF</span>
                <span class="description">Cafetera Moulinex</span>
              </div>
            </div>
              
            <div class="product-container">
              <img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
              <div class="text-overlay"><i class="fas fa-truck"></i>
                <span class="price">$230.000</span>
                <span class="discount">20% OFF</span>
                <span class="description">MacBook Pro 2019</span>
              </div>
            </div>


            <div class="product-container">
              <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen de Samsung Galaxy ">
              <div class="text-overlay"><i class="fas fa-truck"></i>
                <span class="price">$70.500</span>
                <span class="discount">10% OFF</span>
                <span class="description">Samsung Galaxy S10</span>
              </div>
            </div>

   
            <div class="product-container">
              <img src="images/img-tv-samsung-smart.jpg" alt="imagen de SmartTv ">
              <div class="text-overlay"><i class="fas fa-truck"></i>
                <span class="price">$23.200</span>
                <span class="discount">5% OFF</span>
                <span class="description">SmartTv Samsung 43"</span>
              </div>
            </div>


     
              

        </section>

        <section>
            <h3>Sección de Ofertas</h3>

           
            <div class="product-container">
              <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
              <div class="text-overlay"><i class="fas fa-truck"></i>
                <span class="price">$6.770</span>
                <span class="discount">40% OFF</span>
                <span class="description">Cafetera Moulinex</span>
              </div>
            </div>

            <div class="product-container">
              <img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
              <div class="text-overlay"><i class="fas fa-truck"></i>
                <span class="price">$230.000</span>
                <span class="discount">20% OFF</span>
                <span class="description">MacBook Pro 2019</span>
              </div>
            </div>


            <div class="product-container">
              <img src="images/img-samsung-galaxy-s10.jpg" nalt="imagen de Samsung Galaxy ">
              <div class="text-overlay"><i class="fas fa-truck"></i>
                <span class="price">$70.500</span>
                <span class="discount">10% OFF</span>
                <span class="description">Samsung Galaxy S10</span>
              </div>
            </div>
                
                        
            <div class="product-container">
              <img src="images/img-tv-samsung-smart.jpg" alt="imagen de SmartTv ">
              <div class="text-overlay"><i class="fas fa-truck"></i>
                <span class="price">$23.200</span>
                <span class="discount">5% OFF</span>
                <span class="description">SmartTv Samsung 43"</span>
              </div>
            </div>


        </section>
    </main>
    </div>

  

  
    <div class="footer">
      <i class="fas fa-credit-card"></i><h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

            <i class="fas fa-gift"></i><h4>Envío gratis desde $ 2.500</h4>
         <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

                <i class="fas fa-user-shield"></i><h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
    </div>

</body>
</html>


