/*-formulario registro*/

input {
    padding: 10px ;
    background-color: darkgrey;
    color: black;
    border-radius: 5px;
  border-color: black;
  
  }
foto {
  border-color: black;
}


  .formulario{
    background-color:#1259c3;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
  }
  
  