
body {
    font-family: 'Roboto', sans-serif;
    background-color: #eac926;
  }
  
 
  .navbar {
    
    color: black;
    padding: 10px;
  }
  
 
  .login-bar {
   
    color: #ebebeb;
    padding: 10px;
  }
  
 
  .search-bar {
   
    padding: 10px;
  }
  

  
 
  body {
    font-size: 12px;
  }
  
  h1 {
    font-size: 24px;
  }
  
 
  .price {
    font-size: 18px;
  }
  
  .discount {
    font-size: 16px;
  }
  
  .description {
    font-size: 16px;
  }
  