* {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eac926;
    font-size: 12px;
    
  }
  

 
  .navbar {
    width: 80%;
    color: black;
    padding: 10px;
  }
  
 
  .login-bar {
   
    color: #ebebeb;
    padding: 10px;
  }
  
 
  .search-bar {
    
    padding: 10px;
  }
  

  .burger-menu {
    color: #03264c;
    text-align: center;
   
  }
 
   
  .h1, h3 {
    font-size: 24px;
    text-align: center;
  }
  

  .main {
    width: 90%;
    margin: 0 auto; 
    text-align: center;
  }

  .contenedor-imagen {
    border-top: 1px solid #ebebeb;
    position: relative;
      width: 200px;
      padding: 15px;
   
  }

    
  .precio  {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: black;
      font-size: 18px;
    font-weight: bold;
  }
  
  .descuento {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: rgb(98, 192, 106);
      font-size: 18px;
    font-weight: bold;
  }
  

  
  
  .description-service {
    font-size: 16px;
    text-align: center;
  }
  .footer{
    background-color: #ebebeb;
    text-align: center;
  }