* {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eac926;
    font-size: 12px;
    height: 90vh;
    
  }
  

 
  .navbar {
    width: 50%;
    color: black;
    padding: 10px;
  }
  
 
  .login-bar {
   
    color: #ebebeb;
    padding: 10px;
  }
  
 
  .search-bar {
    width: 50%; 
    padding: 10px;
  }
  

  .burger-menu {
    color: #03264c;
    text-align: center;
   
  }
 
   
  .h1, h3 {
    font-size: 24px;
    text-align: center;
  }
  

  .main {
    width: 90%;
    margin: 0 auto; 
    text-align: center;
  }

  img {
    border-top: 1px solid #ebebeb;
    position: relative;
     width: 30%;
      display: flex;
     justify-content: left;
    
  }
  .contenedor-imagen1 {
    border-top: 1px solid #ebebeb;
    position: relative;
      display: flex;
     justify-content: left;
  }

  .contenedor-imagen2 {
    border-top: 1px solid #ebebeb;
    position: relative;
     
      display: flex;
     justify-content: left;
  }

  .contenedor-imagen3 {
    border-top: 1px solid #ebebeb;
    position: relative;
     
      display: flex;
     justify-content: left;
  }
    
  .precio  {
    position: absolute;
    bottom: 15px;
    color: black;
      font-size: 18px;
    font-weight: bold;
    display: flex;
     justify-content: left;
     margin-block-end: 90px;
  }
  .precio1  {
    position: absolute;
    bottom: 15px;
    color: black;
      font-size: 18px;
    font-weight: bold;
    display: flex;
     justify-content: left;
     margin-block-end: 90px;
  }
  
  .precio2  {
    position: absolute;
    bottom: 15px;
    color: black;
      font-size: 18px;
    font-weight: bold;
    display: flex;
     justify-content: left;
     margin-block-end: 90px;
  }
  .precio3  {
    position: absolute;
    bottom: 15px;
    color: black;
      font-size: 18px;
    font-weight: bold;
    display: flex;
     justify-content: left;
     margin-block-end: 90px;
  }
  
  .descuento {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: green;
      font-size: 18px;
    font-weight: bold;
    margin-block-end: 70px;
  }
  .descuento1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: green;
      font-size: 18px;
    font-weight: bold;
    margin-block-end: 70px;
  }
  
  .descuento2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: green;
      font-size: 18px;
    font-weight: bold;
    margin-block-end: 70px;
  }
  .descuento3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: green;
      font-size: 18px;
    font-weight: bold;
    margin-block-end: 70px;
  }

.descripcion {
  position: absolute;
  bottom: 10px;
  font-size: 18px;
    font-weight: bold;
    display: flex;
     justify-content: left;
     margin-inline-end: 20px;
     flex-direction: row;
}
 .descripcion1 {
  position: absolute;
  bottom: 10px;
  font-size: 18px;
    font-weight: bold;
    display: flex;
     justify-content: left;
     margin-inline-end: 20px;
     flex-direction: row;
} 

.descripcion2 {
  position: absolute;
  bottom: 10px;
  font-size: 18px;
    font-weight: bold;
    display: flex;
     justify-content: left;
     margin-inline-end: 20px;
     flex-direction: row;
} 

.descripcion3 {
  position: absolute;
  bottom: 10px;
  font-size: 18px;
    font-weight: bold;
    display: flex;
     justify-content: left;
     margin-inline-end: 20px;
     flex-direction: row;
} 
  
  .description-service {
    font-size: 16px;
    text-align: center;
  }
  .footer{
    background-color: #ebebeb;
    text-align: center;
  }